body {  
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

.button {
  width: 14px;
  height: 14px;
  background-color: lightgray;
  border: solid;
  border-width: 0.5px;
  color: black;
  padding: 7px 7px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 7px;
  margin: 0.5px 0.5px;
  cursor: pointer;
}
.button_open {
  width: 14px;
  height: 14px;
  background-color: white;
  border: solid;
  border-width: 0.5px;
  color: black;
  padding: 7px 7px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 7px;
  margin: 0.5px 0.5px;
  cursor: pointer;
}

.center-div{
    display: flex;
    justify-content: center;
}